Size:
<input type="number" [(ngModel)]="number" name="number"/><br />
Radius:
<input type="number" [(ngModel)]="radius" name="radius"/><br />
<input  type="button"
        value="Reset"
        (click)="reset()"
     />
<hr />
<div *ngFor="let line of field; let i = index">
    <input  type="text"
            value="{{square.value}}"
            (click)="toggleTurn(square, i, j)"
            *ngFor="let square of line.items; let j = index"
            class="square"
            readonly />
</div>

<br />

<h3 class="win">{{gameOverMsg}}</h3>
<h3 class="error">{{error}}</h3>
